@{
    ViewData["Title"] = "Index";
}
<h1>Index Sayfası</h1>

<div class="bg-info">

    <a class="btn btn-success" asp-action="SignIn">Login ol </a>

</div>



<div class="bg-info">
    <h3 class="text-center text-black-50"></h3>
    <a asp-action="Admin" class="btn btn-success"> Admin </a> <br />
    <a asp-action="Member" class="btn btn-success"> Member </a>
</div>